.Die {
    color: purple;
    font-size: 150px;
    margin: 20px;
    padding: .25em;
    text-align: center;
    text-shadow: 5px 2px 0;
}

.shaking{
    animation-name: wobble;
    animation-duration: 1s;
}

@keyframes wobble {
    from{
        transform: transalte3d(0,0,0);
    }
    15%{
        transform: transalte3d(-25%, 0, 0) rotate3d(0,0,1, -5deg);
    }
    30%{
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45%{
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60%{
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75%{
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}